<html>
	<head>
		<title> This is {{ ansible_hostname }} Page </title>
	</head>
	<body>
		<pre>
		Arch1         = {{ ansible_architecture }}
		Arch2         = {{ ansible_facts.architecture }}
		Arch3         = {{ ansible_facts['architecture'] }}
		Date          = {{ ansible_date_time['date'] }}
		Time          = {{ ansible_date_time['time'] }}
		IP Address    = {{ ansible_default_ipv4['address'] }}
		OS            = {{ ansible_facts['distribution'] }}
		FQDN          = {{ ansible_fqdn }}
		Hostname      = {{ ansible_hostname }}
		Kernel        = {{ ansible_kernel }}
		Python        = {{ ansible_python_version }}
		# VDA Size      = {{ ansible_devices['vda']['size'] | default("Not Avaiable") }}
		Total Memory  = {{ ansible_memory_mb.real.total }}
		Free Memory   = {{ ansible_memory_mb.real.free }}
		User Name     = {{ ansible_facts['ansible_local']['trafikverket']['user']['uname'] | default("Not Avaiable") }}
		Dept Name     = {{ ansible_facts['ansible_local']['trafikverket']['dept']['dlocation'] | default("Not Avaiable") }}
		</pre>
	</body>
</html>
